{% extends "main.html" %}
{% block title %} HOME {% endblock %}

{% block content %}

<div class="produtos-page">
    {% for produto in produtos %}
        <div class="produtos">
            <a href="/empresa/{{produto.tipo.empresa.id}}/tipo/{{produto.tipo_id}}/produto/{{produto.id}}">
                <div class="produtos-text">{{produto.nome}}</div>
            </a>
            <img src="{{ produto.link_imagem_principal }}" alt="Produto Image" class="produtos-image" />
        </div>
    {% endfor %}
</div>

{% endblock %}