body {
  background-color: #E2E0C8 !important;
  border: 0;
  margin: 0;
}

.header {
  padding: 5px 20px;
  text-align: center;
  background: #5C7285;
  color: #E2E0C8;
  font-size: 1rem;
  box-sizing: border-box;
  width: calc(100% - 250px);
  margin-left: 250px;
  transition: margin-left 0.3s ease-in-out, width 0.3s ease-in-out;
}

.sidenav {
  height: 100%;
  width: 250px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #5C7285;
  overflow-x: hidden;
  padding-top: 2vh;
  transition: left 0.3s ease-in-out;
}

.sidenav a, .sidenav .dropdown-btn {
  padding: 10px 15px;
  text-decoration: none;
  font-size: 18px;
  color: #E2E0C8;
  display: block;
  border: none;
  background: none;
  width: 100%;
  text-align: left;
  cursor: pointer;
  outline: none;
}

.sidenav a:hover, .sidenav .dropdown-btn:hover {
  background-color: #818C78;
}

.sidenav .dropdown-container {
  display: none;
  background-color: #818C78;
  padding-left: 20px;
}

.sidenav .dropdown-container a {
  color: #E2E0C8;
}

.sidenav-toggle {
  position: absolute;
  top: 10px;
  left: 260px;
  font-size: 30px;
  cursor: pointer;
  background: none;
  border: none;
  color: #E2E0C8;
  transition: left 0.3s ease-in-out;
}

.content {
  margin-left: 250px;
  transition: margin-left 0.3s ease-in-out;
}

.sidenav.closed {
  left: -250px;
}

.content.closed {
  margin-left: 0;
}

.header.closed {
  margin-left: 0;
  width: 100%;
}

.sidenav-toggle.closed {
  left: 10px;
}

.active {
  background-color: #575757;
}

.content{
  margin-left: 25vh;
  margin-top: 25px;
  padding: 0px 10px;
}

.companies{
  text-align: center;
}

.company{
  margin-left: 30%;
  margin-right: 30%;
  margin-bottom: 10px;
  padding: 5px;
}

.empresa-image {
  width: 90%;
  height: 40%;
  object-fit: cover;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 5%;
}

.tipos-page{
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 2%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2%;
  place-items: center;
}

.tipos{
  background-color: #5C7285;
  border-radius: 7%;
  width: 50%;
  margin-bottom: 5%;
}

.tipos-text{
  text-align: center;
  font-size: 2.5vw;
  color: #E2E0C8;
  transition: color 0.4s ease-in-out;
}

.tipos-text:hover{
  color: #ffffff;
}

a:hover, a:visited, a:link, a:active{
    text-decoration: none;
}

.produtos-page{
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 2%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2%;
  place-items: center;
}

.produtos{
  background-color: #5C7285;
  width: 70%;
  margin-bottom: 5%;
  display: grid;
  place-items: center;
  border-radius: 7%;
}

.produtos-text{
  text-align: center;
  font-size: 4vh;
  color: #E2E0C8;
  transition: color 0.4s ease-in-out;
}

.produtos-text:hover{
  color: #ffffff;
}

.produtos-image {
  margin: 0 auto;
  max-width: 100%;
  padding: 5%;
  border-radius: 7%;
}

.container-cols {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50vh;
  width: 100%;
  margin-top: 5vh;
  align-items: flex-start;
}

.col-1 {
  flex: 0 1 auto;
}

.col-2 {
  display: flex;
  flex: 1;
  font-size: 1.5rem;
  font-weight: bold;
  padding: 20px;
  flex-direction: column;
  background: #5C7285;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  max-width: 60vh;
  width: 100%; 
  align-self: top;
  margin-left: 5vh;
  position: relative;
  margin-top: 3%;
}

.big-produto-image {
  width: 50vh;
  height: 50vh;
}

.produto-text {
  margin-top: 2vh;
  font-size: 3vh;
  font-weight: bold;
  align-self: flex-start;
  text-align: center;
  width: 100%;
  color: #fff;
}

.produto-desc {
  font-size: 2vh;
  font-weight: lighter;
  align-self: center;
  text-align: center;
  color: #fff;
  padding-bottom: 5px;
}

.container-slider{
  padding: 2rem;
  width: 65vh;
  height: auto;
}

.slider-wrapper{
  position: relative;
  max-width: 60rem;
  margin: 0 auto;
}

.slider{
  display: flex;
  aspect-ratio: 1;
  overflow-x: hidden;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
  border-radius: 0.5rem;
}

.slider::-webkit-scrollbar {
  display: none;
}

.slider img{
  flex: 1 0 100%;
  scroll-snap-align: start;
  object-fit: cover;
}

.slider-nav{
  display: flex;
  column-gap:1rem;
  position: absolute;
  bottom: 1.25rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.slider-nav a{
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background-color: white;
  opacity: 0.75;
  transition: opacity ease 250ms;
}

.slider-nav a:hover{
  opacity: 1;
}
