body {
  background-color: #ffffff;
  border: 0;
  margin: 0;
}

.header {
  padding: 5px 20px;
  text-align: center;
  background: #3b3b3b;
  color: white;
  font-size: 1rem;
  box-sizing: border-box;
  width: calc(100% - 25vh);
  margin-left: 25vh;
}

.sidenav {
  height: 100%;
  width: 25vh;
  position: fixed;
  z-index:1;
  top:0;
  left:0;
  background-color: #3b3b3b;
  overflow-x: hidden;
  padding-top:10vh;
}

.sidenav a{
  padding:6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display:block;
}

.sidenav a:hover{
  color:#f1f1f1
}

.content{
  display: flex;
  margin-left: 160px;
  margin-top: 10px;
  padding: 0px 10px;
}

.companies{
  text-align: center;
}

.company{
  margin-left: 30%;
  margin-right: 30%;
  margin-bottom: 10px;
  padding: 5px;
  border: 3px solid #f1f1f1;
  background-color: #f1f1f1;
}

.empresa-image {
  width: 90%;
  height: 40%;
  object-fit: cover;
}

.tipos-page{
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 2%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2%;
  place-items: center;
}

.tipos{
  background-color: #818181;
  width: 50%;
  margin-bottom: 5%;
}

.tipos-text{
  text-align: center;
  font-size: 2.5vw;
}

.produtos-page{
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 2%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2%;
  place-items: center;
}

.produtos{
  background-color: #818181;
  width: 70%;
  margin-bottom: 5%;
  display: grid;
  place-items: center;
}

.produtos-text{
  text-align: center;
  font-size: 4vh;
}

.produtos-image {
  width: 90%;
  height: 90%;
}

.container-cols {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50vh;
  width: 100%;
  margin-top: 5vh;
  align-items: flex-start;
}

.col-1 {
  flex: 0 1 auto;
}

.col-2 {
  display: flex;
  flex: 1;
  font-size: 1.5rem;
  font-weight: bold;
  padding: 10px;
  flex-direction: column;
}

.big-produto-image {
  width: 50vh;
  height: 50vh;
}

.produto-text {
  margin-top: 5vh;
  font-size: 3vh;
  font-weight: bold;
  align-self: flex-start;
  text-align: flex-start;
  width: 100%;
  white-space: nowrap;
}

.produto-desc {
  font-size: 2vh;
  font-weight: lighter;
  align-self: center;
  text-align: center;
}

.container-slider{
  padding: 2rem;
  width: 65vh;
  height: auto;
}

.slider-wrapper{
  position: relative;
  max-width: 60rem;
  margin: 0 auto;
}

.slider{
  display: flex;
  aspect-ratio: 1;
  overflow-x: hidden;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
  border-radius: 0.5rem;
}

.slider::-webkit-scrollbar {
  display: none;
}

.slider img{
  flex: 1 0 100%;
  scroll-snap-align: start;
  object-fit: cover;
}

.slider-nav{
  display: flex;
  column-gap:1rem;
  position: absolute;
  bottom: 1.25rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.slider-nav a{
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background-color: white;
  opacity: 0.75;
  transition: opacity ease 250ms;
}

.slider-nav a:hover{
  opacity: 1;
}
